In [2]:
li = [122, 3222, 32234,343442]
for i in li:
    print("the number is:", i)

the number is: 122
the number is: 3222
the number is: 32234
the number is: 343442

In [13]:
for i in range(len(li)):
    print(i)

0
1
2
3

In [5]:
for i in range(3, 9):
    print(i)

3
4
5
6
7
8

In [7]:
for i in range(29, 77, 2):
    print(i)

29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75

In [11]:
for i in range(77,32,-2):
    print(i)

77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33

In [16]:
for i in range(45,78):
    print("the num", i)

the num 45
the num 46
the num 47
the num 48
the num 49
the num 50
the num 51
the num 52
the num 53
the num 54
the num 55
the num 56
the num 57
the num 58
the num 59
the num 60
the num 61
the num 62
the num 63
the num 64
the num 65
the num 66
the num 67
the num 68
the num 69
the num 70
the num 71
the num 72
the num 73
the num 74
the num 75
the num 76
the num 77

In [18]:
for i in range(13):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [19]:
for i in range(len(li)):
    print("index:", i)
    print("number:", li[i])

index: 0
number: 122
index: 1
number: 3222
index: 2
number: 32234
index: 3
number: 343442

In [20]:
for i in range(len(li)):
    print("index:", i)
    print("number:", li[i])

index: 0
number: 122
index: 1
number: 3222
index: 2
number: 32234
index: 3
number: 343442

In [21]:
for i in range(len(li)):
    print(f'index is: {i}, number is:{li[i]}'')

SyntaxError: unterminated string literal (detected at line 2) (1989809354.py, line 2)

In [24]:
x = "mango"
print(f'The {x} is a fruit')

The mango is a fruit

In [31]:
l=[1,8, "girl"]
for i in range(len(l)):
    print(f'{l[i]}')

1
8
girl

In [32]:
l= [1,8, "girl"]
for i, j in enumerate(l):
    print(i,j)

0 1
1 8
2 girl

In [42]:
l=[10,23,54,6]
for i in l:
    if i == 54:
        break
    print(i)
        
print("loop terminates")

10
23
loop terminates

In [43]:
numb = [1,2,3,4,5]
for num in numb:
    if num==3:
        continue
    print(num)
print("loop ended")

1
2
4
5
loop ended

In [45]:
numb = [1,2,3,4,5]
for num in numb:
    pass

print("loop ended")

loop ended

In [47]:
s = "python programming"
for i in s:
    print(i)

p
y
t
h
o
n

p
r
o
g
r
a
m
m
i
n
g

In [50]:
s = "python programming"
print("length of s", len(s))
for i in range(len(s)):
    print(i, s[i])

length of s 18
0 p
1 y
2 t
3 h
4 o
5 n
6
7 p
8 r
9 o
10 g
11 r
12 a
13 m
14 m
15 i
16 n
17 g

In [51]:
for i in range(5):
    print(i)
    if i==2:
        break

0
1
2

In [52]:
numbers=[1,2,3,4,5]
for index, number in enumerate(numbers):
    print(f"index:{index}, number:{number}")

index:0, number:1
index:1, number:2
index:2, number:3
index:3, number:4
index:4, number:5

In [53]:
for i in range(2,10,2):
    print(i)

2
4
6
8

In [56]:
for i in range(1,6):
    if i%2==0:
        print(i+1)
    else:
            print(i-1)

0
3
2
5
4