In [4]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(0, i):
        print("* ", end=" ")
    
    print("\n")

Enter number of rows: 5
*  *  *  *  *

*  *  *  *

*  *  *

*  *

*

In [18]:
rows = int(input("Enter number of rows: "))

for i in range(rows, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    
    
    print("\n")

Enter number of rows: 5
1 2 3 4 5

1 2 3 4

1 2 3

1 2

1

In [14]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")
   
    while k!=(2*i-1):
        print("* ", end="")
        k += 1
   
    k = 0
    print()

Enter number of rows: 5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [35]:
for i in range(1,5):
    print("---------Apple")

    for j in range (2,4):
        print("Mango")
        
        for k in range(1,2):
            print("Cherry")

---------Apple
Mango
Cherry
Mango
Cherry
---------Apple
Mango
Cherry
Mango
Cherry
---------Apple
Mango
Cherry
Mango
Cherry
---------Apple
Mango
Cherry
Mango
Cherry

In [34]:
for i in range(1,5):
    print("Hello")
    print("World")
    print("Learning Python")

Hello
World
Learning Python
Hello
World
Learning Python
Hello
World
Learning Python
Hello
World
Learning Python

In [1]:
l=[20,36,48,59,13]
l.sort()
maximum_element = l [-1]
print("The Maximum element of the given list is: ", maximum_element)

The Maximum element of the given list is:  59

In [ ]:
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

In [7]:
l=[20,36,48,59,13]
maxium=1[0]
for i in l:
     if i>maximum:
        maximum=i
print("maximum", maximum)

<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
C:\Users\Araaz\AppData\Local\Temp\ipykernel_17048\1070361668.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  maxium=1[0]
C:\Users\Araaz\AppData\Local\Temp\ipykernel_17048\1070361668.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  maxium=1[0]
C:\Users\Araaz\AppData\Local\Temp\ipykernel_17048\1070361668.py:2: SyntaxWarning: 'int' object is not subscriptable; perhaps you missed a comma?
  maxium=1[0]

TypeError: 'int' object is not subscriptable

In [8]:
numbers=[12,45,67,89,34,56]
largest_number=max(numbers)
print("the largest number:", largest_number)

the largest number: 89

In [9]:
l=[12,45,67,89,34,56]
print(max(l))

89

In [11]:
capital_city = {"Nepal":"Kathmandu","England":"London"}
print(len(capital_city))

2

In [13]:
capital_city["India"]= "New Delhi"
print(len(capital_city))

3

In [15]:
for Country, Capital in capital_city.items():
    print(f'Country is:{Country}, Capital is: {Capital}')

Country is:Nepal, Capital is: Kathmandu
Country is:England, Capital is: London
Country is:India, Capital is: New Delhi

In [16]:
for i in capital_city:
    print(i)
    print("value is:", capital_city)

Nepal
valueis: {'Nepal': 'Kathmandu', 'England': 'London', 'India': 'New Delhi'}
England
valueis: {'Nepal': 'Kathmandu', 'England': 'London', 'India': 'New Delhi'}
India
valueis: {'Nepal': 'Kathmandu', 'England': 'London', 'India': 'New Delhi'}